BACKEND/node_modules
BACKEND/dist
BACKEND/package-lock.json

FRONTEND/node_modules
FRONTEND/dist
FRONTEND/package-lock.json

BACKEND/DATABASE/migration.sql
BACKEND/DATABASE/seed.sql
BACKEND/.env

#macOS
.DS_Store

