BACKEND/node_modules
BACKEND/dist
BACKEND/package-lock.json

FRONTEND/node_modules
FRONTEND/dist
FRONTEND/package-lock.json


DATABASE/addresses.csv
DATABASE/scenario testing/storage and data management/product_test.csv
DATABASE/users.csv
DATABASE/venv
DATABASE/migration.sql
DATABASE/seed.sql

.DS_Store
